@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestão de Insumos Hospital</h1>
    <p> Bem-vindo ao <b>Gestão de Insumo Hospitalar</b>
    <br /> Plataforma onde você cadastra seu Hospital, seus funcionarios, além de permitir solicitar os insumos desejados para os atendimentos aos pacientes. </p>
</div>
